 .home_page {
     background-color: gainsboro;
     width: 100%;
     min-height: 100vh;
 }

 .home_page_mobile {
     display: none;
 }

 .home_page_desktop {
     display: flex;
     flex-direction: column;
     width: 100%;
     min-height: 100vh;
 }

 .home_page_desktop_banner {
     width: 100%;
     height: 600px;
 }

 .home_page_desktop_banner_img {
     height: 100%;
     width: 100%;
 }





 .home_page_desktop_user_list {
     display: flex;
     flex-direction: column;
 }



 .home_page_desktop_user_list_top_heading {
     font-weight: bolder;
     display: flex;
     font-style: italic;
     align-items: center;
     padding-left: 10px;
     font-size: 20px;
     height: 50px;
     color: white;

 }

 .home_page_desktop_user_list_bottom_con {
     padding-left: 10px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 @media (max-width:700px) {

     .home_page_desktop {
         display: none;
     }

     .home_page_mobile {
         display: flex;
         flex-direction: column;
         width: 100%;
         min-height: 100vh;
     }

     .home_page_mobile_banner {
         width: 100%;
         height: 200px;
         padding: 5px;
     }

     .home_page_mobile_banner_img {
         height: 100%;
         width: 100%;
         border-radius: 10px;
     }





     .home_page_mobile_user_list {
         display: flex;
         flex-direction: column;
     }



     .home_page_mobile_user_list_top_heading {
        font-weight: bolder;
        display: flex;
        font-style: italic;
        align-items: center;
        padding-left: 10px;
        font-size: 20px;
        height: 50px;
        color: white;
     }

     .home_page_mobile_user_list_bottom_con {
         display: grid;
         grid-template-columns: 1fr 1fr;
     }


 }