.mobile_search_page {
    display: none;
}

@media (max-width:700px) {
    .mobile_search_page {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .mobile_search_form {
        height: 70px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid gainsboro;
    }

    .mobile_search_form_left {
width: 15%;
display: flex;
align-items: center;
justify-content: center;
    }

    .mobile_search_form_left_icon {
       color: black;
    }

    .mobile_search_form_center {
width: 70%;
display: flex;
align-items: center;
justify-content: center;
    }

    .mobile_search_form_center_input {
width: 100%;
border-radius: 360px;
border: 1px solid gainsboro;
color: black;
outline: none;
padding: 5px;
padding-left: 5px;
    }

    .mobile_search_form_left_right {
        display: flex;
align-items: center;
justify-content: center;
width: 15%;
    }

    .mobile_search_form_left_right_btn_icon {
color: black;
background-color: transparent;
border: none;
    }


}