 .search_form {
width: 80%;
border-radius: 360px;
border: 1px solid gainsboro;
padding: 5px;
display: flex;
align-items: center;
 }

 .search_form_input {
    border: none;
    width: 80%;
    border-radius: 360px;
    outline-color: transparent;
    padding-left: 10px; 
    color: black;
    font-weight: bold;
 }

 .search_form_btn {
border: 1px solid gainsboro;
background-color: red;
width: 20%;
border-radius: 360px;
display: flex;
align-items: center;
justify-content: center;
color: white;

 }  
 
 @media (max-width:700px) {
    .search_form {width: 95%;}
 }