.service_card {
    border: 1px solid gainsboro;
    width:95%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    }
     
    .service_card_btn {
    
    border-radius: 5px;
    width: 95%;
    height: 40px;
    border: none;
    background-color: white;
    border: 1px solid gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .service_card_btn_left {
        color: black;
        display: flex;
    align-items: center;
    }
    
    .service_card_btn_right {
        color: black;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: bold;
      font-size: 0.5rem;
        display: flex;
    align-items: center;
    margin-left: 5px;
    }
    
    .service_card_img {
        height: 250px;
        width: 100%;
    
    }
    
    .service_card_details {
    height: 20%;
    width: 100%;
    padding: 5px;
    }
    
    .service_card_details_top {
    display: flex;
    align-items: center;
    }
    
    .service_card_details_top_name {
    font-weight: bold;
    color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .service_card_details_top_price {
        font-weight: bold;
        color: black;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }
        
   
    
    
