.store_search_page {
    display: flex;
    flex-direction: column;
}

.store_search_page_mobile {
    display: none;
}

.store_search_page_desktop {
    display: flex;
    flex-direction: column;
}

.store_search_page_desktop_con {
    display: flex;
}

.store_search_page_desktop_left {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    border-right: 1px solid gainsboro;
}

.store_search_page_desktop_left_header {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid gainsboro;
}

.store_search_page_desktop_left_header span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    
    
}

.store_search_page_desktop_left_filter_con {
width: 100%;
display: flex;
flex-direction: column;
border-bottom: 1px solid gainsboro;
padding-top: 15px;
padding-bottom: 15px;
}

.store_search_page_desktop_left_filter_top {
height: 30px;
display: flex;
align-items: center;
}

.store_search_page_desktop_left_filter_top span {
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

.store_search_page_desktop_left_filter_bottom{
display: flex;
flex-direction: column;
}

.store_search_page_desktop_left_filter_bottom span {

}

.store_search_page_desktop_right {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.store_search_page_desktop_right_top {
    height: 75px;
    display: flex;
    align-items: center;
}

.store_search_page_desktop_right_top_left {
    display: flex;
    align-items: center;
    width: 50%;
}

.store_search_page_desktop_right_top_right {
    display: flex;
    align-items: center;
    width: 50%;
}

.store_search_page_desktop_right_center {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

.store_search_page_desktop_right_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

@media (max-width:700px) {
    .store_search_page_desktop {
        display: none;
    }

    .store_search_page_mobile {
        display: flex;
        flex-direction: column;
    }

    .store_search_page_mobile_top {

    }

    .store_search_page_mobile_centre {
display: grid;
grid-template-columns: 1fr 1fr;
    }

    .store_search_page_mobile_bottom {

    }


}

@media (min-width:720px) and (max-width:820px) {
    .store_search_page_desktop_right_center {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        }

    .store_search_page_mobile {
        display: none;

    }

    
}